.grid-table {
  min-width: 800px;
}
.grid-container {
  max-width: 100%;
  overflow-x: auto;
}

.header-table {
  display: grid;
  grid-template-columns: 30% 12% repeat(2, 17%) 1fr;
  gap: 1px;
  
}
.header-cell {
  padding: 8px;
  border-bottom: 1px solid #ccc;
  color: white;
  font-weight: bold;
  padding: 8px;
  background-color: var(--primary_color);
}
.row-table {
  display: grid;
  grid-template-columns: 30% 12% repeat(2, 17%) 1fr;
  gap: 1px;
}

.cell-table {
  padding: 8px;
  border-bottom: 1px solid #ccc;
}
